body{
	background-image: url("pnkylopurplflwrbg.jpg.jpg");
	background-size: 150%;
	color: #7ed7ed;
}

h2{
	font-family: Gabriola, Times, serif;
	font-size: 80px;
	height: 70px;
	color: #5abced;
}

#one{
	font-family: Gabriola, Times, serif;
	font-size: 40px;
	color: #7ed7ed;

}

#two{
	font-family: Gabriola, Times, serif;
	font-size: 40px;
	color: #7ed7ed;

}

td input[name = "uname"]{
	font-size: 18px;
	background: #b8e7f2;
	color: #0a5e73;
	font-family: georgia, serif;
	border-style: solid;
	border-color: #7ed7ed;

}

td input[name = "pin"]{
	font-size: 18px;
	background: #b8e7f2;
	color: #0a5e73;
	font-family: georgia, serif;
	border-style: solid;
	border-color: #7ed7ed;

}


td input[value = "Reset"]{
	font-family: Gabriola, Times, serif;
	font-size: 23px;
	width: 120px;
	height: 40px;
	background: #7ed7ed;
	color: #0a5e73;
	font-weight: bold;
	border-color: #0a5e73 ;
	border-style: solid;

}

td input[value = "Login"]{
	font-family: Gabriola, Times, serif;
	font-size: 23px;
	width: 120px;
	height: 40px;
	background: #7ed7ed;
	color: #0a5e73;
	font-weight: bold;
	border-color: #0a5e73 ;
	border-style: solid;

}

input[value = "Login"]:hover{
    background: #0a5e73;
    color: #7ed7ed;
    border-color: #7ed7ed;
}

input[value = "Reset"]:hover{
    background: #0a5e73;
    color: #7ed7ed;
    border-color: #7ed7ed;
}

h3{
	font-family: Gabriola, Times, serif;
	font-size: 25px;
}

h3 a[href="/registeration"]{
	font-family: Gabriola, Times, serif;
	font-size: 30px;
	color: #5abced;
	text-decoration: none;
}