<!DOCTYPE html>
<html>
<head>
	
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/homepage.css')}}">
	<script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>
	

</head>
<body>
	<fieldset>
		<h1 >BlossomHub</h1>
		<div class="navbar" align="center">
	<a href="/home"><i class="fa fa-home fa-sm" aria-hidden="true"></i><strong> Home</strong></a>

	<a href="/"><i class="fas fa-sign-in fa-sm" aria-hidden="true"></i><strong>Login</strong></a>

	<a href="/registeration"><i class="fa fa-user-plus fa-sm" aria-hidden="true"></i><strong> SignUp</strong></a>

		
	<a href="/adminlogin"><i class="fa fa-users fa-sm" aria-hidden="true"></i><strong> Users</strong></a>
</div>
<h2 class="introl">Welcome to BlossomHub : Your Digital Oasis of Floral Beauties</h2>
<h3>
	<div class="fi">
	<p class="florimg1"></p><p class="florimg2"></p><p class="florimg3"></p></div>
	<h2 class="sl">🌸 Where Blooms Blossom and Stories Flourish 🌸</h2>
	<p class="intro">	At BlossomHub,we invite you to step into a world where the magic of flowers takes center stage. Our digital haven is an exquisite tapestry of colors, scents, and tales from the botanical realm. With each click, you'll embark on an adventure through gardens, meadows, and hothouses, uncovering the beauty, history, and significance of nature's most enchanting creations. 	</p>
</h3>
		<div class="dropdown">
		<h3 class="infopage"><strong>Flowers  </strong><i class="fa fa-caret-down fa-xs"></i></h3>
				<div class="dropdown_content">
					<a href="/home"><strong>By Seasons  </strong><i class="fa fa-caret-right fa-sm"></i></a>
					<div class="byseason">
						<a href="/summer"><strong> Summer </strong><i class="fa-solid fa-umbrella-beach"></i></a>
						<a href="/spring"><strong>Spring </strong><i class="fa-brands fa-pagelines"></i></a>
						<a href="/winter"><strong>Winter  </strong><i class="fa-solid fa-snowflake"></i></a>
						
					</div>
					<a href="/home"><strong>By Life Cycles  <i class="fa fa-caret-right fa-sm"></i></strong></a>
					
					
		
				</div></div>

			<div class="cont">
				<p>
					What Awaits You:<br><br>

🌻 Explore Our Archives: Delve into a treasure trove of knowledge about every flower under the sun. From the exotic orchids of Southeast Asia to the classic roses adorning gardens worldwide, we've curated a collection that blooms with intrigue.<br><br>

📸 Visual Splendor: Immerse yourself in the spellbinding world of flowers through our high-resolution images. Zoom in on the delicate petals, admire the vibrant colors, and lose yourself in the intricate details.<br><br>

🌿 Gardener's Corner: Whether you're a seasoned gardener or a budding enthusiast, BlossomHub has tips, tricks, and advice to help your garden flourish. We believe that anyone can cultivate the art of growing flowers.<br><br>

🌺 Flower of the Month: Each month, we showcase a special flower. Discover its unique characteristics, folklore, and the best ways to care for it.<br><br>

🎨 Floral Artistry: From bouquets that convey love to wreaths that symbolize remembrance, learn about the language of flowers and the art of floral arrangement.<br><br>

📚 Educational Roots: BlossomHub takes you deep into the roots of botany, unraveling the mysteries of plant life, pollinators, and the science behind these natural wonders.<br><br>

Join us on this blooming journey as we celebrate the diversity of our floral world and pay homage to the beauty that surrounds us every day. Whether you're a horticultural expert, a budding botanist, or simply a lover of all things beautiful, FloriVerse has something to captivate your senses.
				</p>
	<div class="ll"><p>🌷 BlossomHub : Where Every Petal Tells a Story 🌷</p></div>
			</div>

		</div>
		<div class="footer">
			<h2 class="fbrand">BlossomHub</h2>
			<table>
				<tr>
					<td><a href="/privacypolicy">Privacy Policy</a></td>
					<td><a href="/termsofuse">Terms of Use</a></td>
				</tr>
				<tr>
					<td><a href="/contact">Contact</a></td>
					<td><a href="/copyright">Copyright</a></td>
				</tr>
			</table>
			
			<p class="sm"><i class="fa-brands fa-square-twitter fa-xl"></i><i class="fa-brands fa-linkedin fa-xl"></i><i class="fa-brands fa-square-facebook fa-xl"></i><i class="fa-brands fa-square-instagram fa-xl"></i></p>

			<table id="one">
				<tr><td class="two"><p>All rights reserved</p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
			</table>
			
		</div>



</fieldset>
</body>
</html>
