<!DOCTYPE html>
<html>
<head>

	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/login.css')}}">
	<script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>

</head>

<body>


		<div class="float_container">
		<div class="float_child">
			<div class="logbox">
			    <h2>Login</h2>
		        <form action="validateuser" method="POST">
		            <h3 class="h" >Username</h3>
	                <input type="text" name="uname" autocomplete="off"><br><br>

                	<h3 class="h" >Password</h3>
	                <input type="Password" name="pin" autocomplete="off">

		            <table>
		                <tr>
			                <td><input type="reset" value="Reset"></td>
			                <td><input type="submit" value="Login"></td>
		                </tr>
	                </table >
	                <h3 class="su">Here For the First Time ?!<br><br><a href="/registeration"> Sign UP !</a></h3>
		        </form>
		    </div>
		</div>

		<div class="float_child">
			<div class="simg">
				<img src="static/flwr1.png" style="width: 100%; height: 603px;">
			</div>
		</div>
	    </div>


</body>
</html>