<!DOCTYPE html>
<html>
<head>
	
	<title>Spring Flowers</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/spring.css')}}">
	<script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>


</head>
<body>
	<h1>Spring Flowers</h1>
	<div class="main">
	<table>
		<tr>
			<td class="jr"><h3></h3></td>
			<td class="pl"><h3></h3></td>
			
		</tr>

		<tr>
		<td ><p class="para">Common Name:<span class="n"> Queen's Flower,Jarul</span><br>Scientific Name:<span class="n"> Lagerstroemia speciosa</span><br>Flowering occurs 3–5 years after planting and the main flowering season is April–June with a second flush in July–August.</p></td>
		<td ><p class="para">Common Name:<span class="n"> Peace Lily</span><br>Scientific name:<span class="n"> Spathiphyllum wallisii</span><br>Peace lilies have a natural flowering season between February and September.</p></td>
		</tr>

		<tr>
			<td class="al"><h3></h3></td>
			<td class="tp"><h3></h3></td>
		</tr>

		<tr>
		<td><p class="para">Common Name:<span class="n"> Golden Shower,Amaltas</span><br>Scientific Name: <span class="n">Cassia fistula</span><br> It blooms in late spring/early summer in hot, dry weather. </p></td>
		<td><p class="para">Common Name:<span class="n"> Tulips</span><br>Scientific Name:<span class="n"> Tulipa</span><br>Tulips in India usually bloom in the spring, from late March to early April. </p></td>
		</tr>
	</table>
</div>

	<div class="footer">
			<h2 class="fbrand">BlossomHub</h2>
			<table class="ft">
				<tr>
					<td><a href="/privacypolicy">Privacy Policy</a></td>
					<td><a href="/termsofuse">Terms of Use</a></td>
				</tr>
				<tr>
					<td><a href="/contact">Contact</a></td>
					<td><a href="/copyright">Copyright</a></td>
				</tr>
			</table>
			
			<p class="sm"><i class="fa-brands fa-square-twitter fa-xl"></i><i class="fa-brands fa-linkedin fa-xl"></i><i class="fa-brands fa-square-facebook fa-xl"></i><i class="fa-brands fa-square-instagram fa-xl"></i></p>

			<table id="one">
				<tr><td class="two"><p>All rights reserved</p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
			</table>
			
		</div>
</body>
</html>