<!DOCTYPE html>
<html>
<head>
	
	<title>Summer Flowers</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/summer.css')}}">
	<script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>

</head>
<body>
	<h1>Summer Flowers</h1>
	<div class="main">
	<table>
		<tr>
			<td class="mg"><h3></h3></td>
			<td class="sf"><h3></h3></td>
			
		</tr>

		<tr>
		<td><p class="para">Common Name:<span class="n"> French Marigold</span><br>Scientific Name:<span class="n"> Tagetes patula</span><br>Typically, french marigold blooms from early spring or summer to fall (February-September).</span></p></td>
		<td><p class="para">Common Name:<span class="n"> Sunflower</span><br>Scientific name:<span class="n"> Helianthus annuus</span><br>The plant flowers in summer. What is often called the "flower" of the sunflower is actually a "flower head" (pseudanthium), 7.5–12.5 centimetres (3–5 in) wide,[4] of numerous small individual five-petaled flowers ("florets").</p></td>
		</tr>

		<tr>
			<td class="zn"><h3></h3></td>
			<td class="cm"><h3></h3></td>
		</tr>

		<tr>
		<td><p class="para">Common Name:<span class="n"> Zinnia</span><br>Scientific Name:<span class="n"> Chrysogonum peruvianum</span><br> Zinnias flower in India in the late summer. They can be sown all year, but are mainly grown in February-March and October-December.</p></td>
		<td><p class="para">Common Name:<span class="n"> Cosmos</span><br>Scientific Name:<span class="n"> Cosmos bipinnatus</span><br>Cosmos flowers bloom from early summer until frost. They are annual plants that thrive in warm and dry climates. They are easy to grow from seed and can even survive in poor soil conditions. </p></td>
		</tr>
	</table>
</div>

	<div class="footer">
			<h2 class="fbrand">BlossomHub</h2>
			<table class="ft">
				<tr>
					<td><a href="/privacypolicy">Privacy Policy</a></td>
					<td><a href="/termsofuse">Terms of Use</a></td>
				</tr>
				<tr>
					<td><a href="/contact">Contact</a></td>
					<td><a href="/copyright">Copyright</a></td>
				</tr>
			</table>
			
			<p class="sm"><i class="fa-brands fa-square-twitter fa-xl"></i><i class="fa-brands fa-linkedin fa-xl"></i><i class="fa-brands fa-square-facebook fa-xl"></i><i class="fa-brands fa-square-instagram fa-xl"></i></p>

			<table id="one">
				<tr><td class="two"><p>All rights reserved</p>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
			</table>
			
		</div>
</body>
</html>