<!DOCTYPE html>
<html>
<head>
	
	<title>Winter Flowers</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/winter.css')}}">
	<script src="https://kit.fontawesome.com/06907ca0aa.js" crossorigin="anonymous"></script>


</head>
<body>
	<h1>Winter Flowers</h1>
	<div class="main">
	<table>
		<tr>
			<td class="pn"><h3></h3></td>
			<td class="as"><h3></h3></td>
			
		</tr>

		<tr>
		<td ><p class="para">Common Name:<span class="n"> Pansy</span><br>Scientific Name:<span class="n"> Viola × wittrockiana</span><br>In India, pansies (Viola × wittrockiana) are most common in late fall and early spring in the northern areas. In subtropical areas, they bloom all winter.</p></td>
		<td ><p class="para">Common Name:<span class="n"> Aster</span><br>Scientific name:<span class="n"> Aster amellus</span><br>In North India, aster seeds can be sown between June and September, or January and February. Flowers start appearing 60 days after sowing and the blooming period lasts for about 15-20 days.</p></td>
		</tr>

		<tr>
			<td class="sj"><h3></h3></td>
			<td class="dh"><h3></h3></td>
		</tr>

		<tr>
		<td><p class="para">Common Name:<span class="n"> Kunda, Downy Jasmine</span><br>Scientific Name: <span class="n">Jasminum multiflorum</span><br>Kunda, also known as downy jasmine, is a popular landscape plant that blooms nearly year-round. Kunda plants can bloom in the winter. You can grow kunda plants from July-August onwards. </p></td>
		<td><p class="para">Common Name:<span class="n"> Dahlia</span><br>Scientific Name:<span class="n"> Dahlia pinnata</span><br> The dahlia growing season in India is from mid-January to April. Dahlias are winter plants that can't tolerate hot summers. They begin flowering within 90-100 days of planting and can bloom for up to 120 days. </p></td>
		</tr>
	</table>
	</div>

	<div class="footer">
			<h2 class="fbrand">BlossomHub</h2>
			<table class="ft">
				<tr>
					<td><a href="/privacypolicy">Privacy Policy</a></td>
					<td><a href="/termsofuse">Terms of Use</a></td>
				</tr>
				<tr>
					<td><a href="/contact">Contact</a></td>
					<td><a href="/copyright">Copyright</a></td>
				</tr>
			</table>
			
			<p class="sm"><i class="fa-brands fa-square-twitter fa-xl"></i><i class="fa-brands fa-linkedin fa-xl"></i><i class="fa-brands fa-square-facebook fa-xl"></i><i class="fa-brands fa-square-instagram fa-xl"></i></p>

			<table id="one">
				<tr><td class="two"><p>All rights reserved</p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td></tr>
			</table>
			
		</div>
</body>
</html>